<ion-view view-title="OpenSprinkler Firmware Updater">
    <ion-content class="padding">
        <div class="list card">

            <div class="item item-divider">Connected Devices</div>
            <div class="item item-body">

                <div class="center">

                    <div ng-repeat="device in deviceList">

                        <div class="list left">
                            <div class="item item-button-right">
                                OpenSprinkler {{device.type}}
                                <button ng-click="updateAction(device.type)" class="button button-stable" ng-disabled="button.disabled">
                                    <i class="ion-refresh"></i>
                                    &nbsp;Update
                                </button>
                            </div>
                        </div>

                    </div>

                    <div ng-hide="deviceList.length || button.disabled">No devices found</div>

                </div>

                <button ng-click="checkDevices()" class="button button-block button-positive" ng-disabled="button.disabled">
                    {{button.text}}
                </button>

            </div>

        </div>

        <div class="list" ng-hide="!latestRelease">

            <div class="item item-divider">
                {{latestRelease.name}} recently released on {{latestRelease.releaseDate}}
            </div>

            <div class="item item-text-wrap">
                <ul ng-bind-html="latestRelease.changeLog" class="bullet-list"></ul>
            </div>

        </div>

    </ion-content>
</ion-view>
